<div class="logo-container">
  <img src="/assets/logo.svg" alt="Task Manager" class="logo">
</div>
<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
    <li><a routerLink="/projects" routerLinkActive="active"><i class="fas fa-project-diagram"></i>Projects</a></li>
    <li><a routerLink="/add-project" routerLinkActive="active"><i class="fas fa-plus"></i>Add Project</a></li>
    <li><a routerLink="/tasks" routerLinkActive="active"><i class="fas fa-tasks"></i>Tasks</a></li>
    <li><a routerLink="/add-task" routerLinkActive="active"><i class="fas fa-plus"></i>Add Task</a></li>
    <li><a routerLink="/reporting" routerLinkActive="active"><i class="fas fa-chart-line"></i>Reporting</a></li>
  </ul>
</nav>
