<div class="logo-container">
  <img src="/logo.svg" alt="Task Manager" class="logo">
</div>
<nav>
  <ul>
    <li><a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
    <li><a routerLink="/tasks"><i class="fas fa-tasks"></i>Task List</a></li>
    <li><a routerLink="/project-list"><i class="fas fa-project-diagram"></i>Project List</a></li>
    <li><a routerLink="/add-task"><i class="fas fa-plus-circle"></i>Add Task</a></li>
    <li><a routerLink="/add-project"><i class="fas fa-plus-square"></i>Add Project</a></li>
    <li><a routerLink="/reporting"><i class="fas fa-chart-line"></i>Reporting</a></li>
    <li><a routerLink="/users"><i class="fas fa-users"></i>Users</a></li>
  </ul>
</nav>
